body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    width: 100%;
    overflow-x: hidden;
}

.cross {
    display: none;
}

.navbar li {
    list-style-type: none;
    font-size: 1.1em;
    cursor: pointer;

    transition: ease-in-out 0.2s;
}

.navbar li:hover {
    color: violet;
}

.navbar ul {
    display: flex;
    gap: 40px;
    align-items: center;
    color: white;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    color: white;
}

.navbar button {
    background-color: violet;
    border: 2px violet solid;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;

    text-decoration: none;

    font-size: 1em;

    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.navbar button:hover {
    background-color: inherit;
    color: violet;
    border: 2px violet solid;
    transition: ease-in-out 0.5s;
}

.burger {
    display: none;
}

.header {
    background: rgb(26, 207, 120);
    background: linear-gradient(15deg, lightpink 0%, rgba(0, 212, 255, 1) 100%);
    padding-top: 20px;
}

.section {
    height: fit-content;
    padding: 150px 50px 150px 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section h1 {
    font-size: 4em;
}

.sectionLeft {
    width: 50%;
    color: white;
    display: flex;
    flex-flow: column;
    gap: 40px;
}

sectionRight {
    width: 50%;
}

.sectionLeftTitle {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.sectionLeftTitle h1 {
    margin: 0;
}

.sectionLeft button {
    background-color: violet;
    border: 2px violet solid;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;

    width: fit-content;

    font-size: 1em;

    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.sectionLeft button:hover {
    background-color: transparent;
    color: violet;
    transition: ease-in-out 0.5s;
}

.sectionLeftImages {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.sectionLeftImage {
    background-color: #fffffd50;
    backdrop-filter: blur(10px);
    height: 120px;
    width: 120px;
    border-radius: 20px;
    padding: 10px;

    display: flex;
    justify-content: center;

    transition: ease-in-out 0.5s;
}

.sectionLeftImage:hover {
    background-color: #ee82ee50;
    backdrop-filter: blur(10px);

    transition: ease-in-out 0.5s;
}

.sectionLeftImage img {
    height: auto;
}

footer {
    background: linear-gradient(0deg, white 50%, lightskyblue 100%);
    color: black;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    padding: 100px 0 50px 0;
}

footer li {
    list-style-type: none;
    font-size: 1.1em;
    cursor: pointer;

    transition: ease-in-out 0.2s;
}

footer li:hover {
    color: violet;
}

footer ul {
    align-items: center;
    padding: 0;
}

footer p {
    color: violet;
    font-size: 1.8em;
    margin-bottom: 0;
}

.section2 {
    background-color: lightskyblue;
    height: fit-content;
    padding: 70px 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-radius: 50px 50px 0 0;
    margin: -50px 0px 0px 0px;
}

.section2 img {
    height: 400px;
}

.sectionRight {
    width: 600px;
    text-align: center;
}

.section2 h1 {
    margin: 0;
}

.section2 span {
    color: violet;
    font-size: 1.2em;
    font-style: bold;
}

@media screen and (max-width: 500px) {
    .section h1 {
        font-size: 1.7em;
    }

    .section {
        flex-direction: column;
        margin: 0;

        text-align: center;
    }

    .sectionLeftImage {
        height: 200px;
        width: 100%;
    }

    .section2 {
        padding: 0px;
    }

    .footer {
        flex-direction: col;
        margin: 0;
    }

    .navbar ul {
        flex-direction: column;
        padding: 0;
    }

    .navbar h1 {
        color: violet;
        margin-bottom: 100px;
    }

    .burger {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;

        position: absolute;
        right: 20px;
        top: 20px;

        height: 30px;
    }

    .burger-line {
        width: 30px;
        background-color: white;
        height: 3px;
        border-radius: 20px;
    }

    .cross {
        display: flex;
        flex-direction: column;
        gap: 6px;

        position: fixed;
        right: 20px;
        top: 20px;

        z-index: 2;

        height: 30px;
        align-items: center;
        justify-content: center;
    }

    .cross-line1 {
        width: 30px;
        background-color: white;
        height: 3px;
        border-radius: 20px;
        transform: rotate(45deg);
        margin-left: 0px;

        z-index: 2;
    }

    .cross-line2 {
        width: 30px;
        background-color: white;
        height: 3px;
        border-radius: 20px;
        transform: rotate(-45deg);
        margin-top: -9px;

        z-index: 2;
    }

    .section .sectionRight img {
        display: none;
    }

    .sectionRight {
        width: 100%;
    }

    .section2 img {
        padding-top: 50px;
    }

    .navbar {
        align-items: center;
        justify-content: flex-start;

        flex-direction: column;
        height: 100%;
        position: fixed;
        background-color: #fffffd80;
        backdrop-filter: blur(50px);
        top: 0;
        right: -250px;

        width: 250px;

        padding-top: 150px;
        z-index: 1;

        transition: transform 0.5s ease;
    }

    .sectionLeft {
        align-items: center;
        width: 100%;
    }

    .sectionLeftImages {
        justify-content: center;
        width: 100%;
    }

    .section2 {
        padding: 50px 20px;
        flex-direction: column;
    }

    footer {
        padding: 50px 0;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-top: -1px;

        text-align: center;
    }
}
